section#filters {
  .type {
    display: flex;
    align-items: flex-start;
    margin: 3rem 10.5rem;

    .links {
      background-color: rgba(222, 220, 216, 0.3);;
      display: flex;
      align-items: center;
      border-radius: 0.6rem;
      transition: .2s ease-in-out;
      li {
        margin: 5px;
        a {
          padding: .9rem 1.6rem;
          border-radius: 5px;
          font-size: 0.85rem;
          transition: .2s ease-in-out;
          display: block;

          &:hover {
            background-color: white;
          }
        }
      }
      .active {
        background-color: white;
      }
    }
  }

  .favorites {
    display: flex;
    margin: 3rem 10.5rem;
    gap: 3.1rem;

    &__menu {
      align-self: flex-start;
      width: 100%;
      max-width: 17rem;
      border-radius: 8px;

      .sort {
        margin-bottom: 1rem;
        &__title {
          border-radius: 8px;
          background-color: white;
          padding: 1.3rem 1.7rem;
          font-size: .85rem;
          letter-spacing: .7px;
          font-weight: 500;
          position: relative;
          cursor: pointer;
          z-index: 9;

          span {
            color: #939393;
          }
          .filter {
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 102%;
            left:-.2rem;
            bottom: -7.5rem;
            background-color: white;
            border-radius: 0 0 8px 8px;
            padding: 1.5rem 0;
            display: none;
            a {
              font-size: .8rem;
              letter-spacing: .7px;
              font-weight: 500;
              padding-bottom: .3rem;
              transition: .2s ease-in;
              border-bottom: 1px solid transparent;
              &:hover {
                border-bottom: 1px solid black;
              }
            }
          }
          .filter.active {
            display: flex;
            border-radius: 8px;
            z-index: 0;
            box-shadow: 0px 5px 25px rgb(36 38 60 / 5%);
            animation: opacity .3s ease-in;
            .filter-title {
              padding: .5rem 0 1rem;
              width: 100%;
              text-align: center;
            }
          }
        }
      }

      .wrapper {
        background-color: white;
        padding: .3rem;
        border-radius: 8px;
        .categories {
          background-color: white;
          border-radius: 6px;
          padding: 2rem 1.35rem 2rem;
          max-height: 0rem;
          overflow: hidden;
          cursor: pointer;
          margin-top: .3rem;
          &:first-child {
            margin-top: 0;
          }
          svg {
            width: .9rem;
            height: .9rem;
            opacity: 0;
            transition: .2s ease-in;

          }
          .pick {
            font-size: .95rem;
            letter-spacing: .44px;
            color: #939393;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
              svg {
                opacity: 1;
              }
            }
          }

          ul {
            margin-top: 1.5rem;
            li {
              font-size: .85rem;
              letter-spacing: .44px;
              color: #505154;
              font-weight: 500;
              margin-bottom: 1.5rem;
              span {
                margin-left: .5rem;
                color: #DEDCD8;
              }

              a {
                color: #303133;
                max-width: fit-content;
                border-bottom: 1px solid transparent;
                transition: .2s ease-in;
                &:hover {
                    border-bottom: 1px solid black;
              }
              }
              a.all {
                border-bottom: 1px solid black;
              }
            }
          }
        }
        .categories.active {
          background-color: #F5F4F1;
          max-height: fit-content;
          animation: opacity .2s ease-in;
          svg {
            opacity: 1;
            animation: rotate .2s ease-in;
          }
          #vertical {
            opacity: 0;
          }
        }
      }

      .title {
        font-size: .95rem;
        color: #939393;
        letter-spacing: .44px;
        padding: 1rem 1.35rem;
        margin: 1rem 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
          svg {
            opacity: 1;
          }
        }
        svg {
          width: .9rem;
          height: .9rem;
          opacity: 0;
          transition: .2s ease-in;

        }
      }
    }

    &__products {
      flex: 1;
      h3 {
        font-size: 1.6rem;
        font-family: "Spectral";
        font-style: italic;
        color: #303133;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        span {
          font-size: .95rem;
          letter-spacing: .7px;
          color: #505154;
          font-style: normal;
          font-family: "Inter";
        }
      }
      .breadcrumbs {
        display: flex;
        gap: .5rem;
        color: #939393;
        font-size: .95rem;
        font-weight: 500;
        letter-spacing: .7px;
        margin-bottom: 2rem;
        a {
          &:first-child {
            &:before {
              content: "";
              margin-right: 0;
            }
          }
          &:before {
            content: '•';
            margin-right: .5rem;
          }
        }
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        &__blocks {
          .content {
            background-color: white;
            border-radius: 8px;
            height: 34rem;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: .2s ease-in;
            .something {
              position: absolute;
              top: 2rem;
              left: 2rem;
              display: flex;
              align-items: center;
              gap:.5rem;
              p {
                background-color: #EB5757;
                font-size: .75rem;
                letter-spacing: .44px;
                font-weight: 600;
                text-transform: uppercase;
                padding: .35rem .7rem;
                border-radius: 999rem;
                color: #Fff;
              }
              .new {
                background-color: #2F80ED;
              }
            }
            svg {
              width: 1.35rem;
              height: 1.35rem;
              position: absolute;
              right: 2rem;
              top: 2rem;
              opacity: 0;
              transition: .2s ease-in;
              z-index: 10;
            }
            .grid-img {
              display: flex;
              align-items: center;
              padding: 0 1.5rem;
              img {
                width: 100%;
                object-fit: cover;
              }
              .img-top {
                opacity: 0;
                position: absolute;
                top:0;
                left:0;
                transition: .2s ease-in;
                height: 100%;
              }
              &:hover {
                .img-top {
                  opacity: 1;
                }
              }
            }
            &:hover {
            -webkit-box-shadow: 0px 5px 25px rgba(36, 38, 60, 0.05);
            -moz-box-shadow: 0px 5px 25px rgba(36, 38, 60, 0.05);
            box-shadow: 0px 5px 25px rgba(36, 38, 60, 0.05);
            svg {
                opacity: 1;
              }
            }
          }
          .info {
            text-align: center;
            font-size: 1.15rem;
            font-weight: 500;
            margin-top: 2rem;
            letter-spacing: .44px;
            color: #303133;
            .price {
              font-size: 1rem;
              margin-top: 1rem;
              display: flex;
              align-items: center;
              gap: 1rem;
              justify-content: center;
              .old {
                text-decoration: line-through;
                color: #505154;
              }
              .new {
                color: white;
                background-color: black;
                border-radius: 999rem;
                padding: .3rem .8rem;
              }
            }
          }
        }
      }
      .route {
        display: flex;
        margin: 6rem 0;
        justify-content: space-between;
        align-items: center;
        .toStart {
          margin-bottom: 1.2rem;
          font-size: .73rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: relative;
          svg {
            width: .75rem;
            height: .45rem;
            margin-right: .5rem;
            transition: .2s ease-in;
            >path {
              transition: .2s ease-in;
            }
          }
          &:hover {
            svg {
              >path {
                fill: black;
              }
            }
          }
        }
        .secondary-btn {
          text-transform: initial;
          color: #939393;
          transition: .2s ease-in;
          &:hover {
            color: black;
          }
        }
        .pagination {
          display: flex;
          align-items: center;
          gap: 2rem;
          a {
            font-size: .9rem;
            color: #939393;
            padding-bottom: .3rem;
            transition: .2s ease-in;
            &:hover {
              color: black;
              font-weight: 600;
            }
            svg {
              width: 2rem;
              height: 1rem;
              >path {
                transition: .2s ease-in;
              }
              &:hover {
                >path {
                  stroke: black;
                }
              }
            }
          }
          .active {
            border-bottom: 1px solid black;
            padding-bottom: .3rem;
            color: black;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@keyframes opacity {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }

}
@keyframes rotate {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(180deg);
  }
}
@include responsive() {
  section#filters {
    .type, .favorites {
      display: none;
    }
  }
}
