section#item {
    margin: 0 10.5rem;
    .content {
        display: flex;
        margin-top: 4rem;
        .thumbnails {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: flex-start;
        }
        .large-img {
            width: 100%;
            display: flex;
            justify-content: center;
            align-self: center;
            img {
            }
        }
        .offer {
            &__description {
                background-color: white;
                border-radius: 8px;
                min-width: 27rem;
                padding: 2.6rem 0;
                .event {
                    font-weight: 600;
                    color: white;
                    text-transform: uppercase;
                    font-size: .75rem;
                    letter-spacing: .44px;
                    background-color: #2F80ED;
                    border-radius: 16px;
                    max-width: fit-content;
                    padding: .5rem .8rem;
                    margin: 0 2.6rem 2.1rem;
                }
                .name {
                    font-size: 1.6rem;
                    letter-spacing: .25px;
                    font-weight: 300;
                    margin:0 2.6rem;
                }
                .price {
                    font-size: .85rem;
                    font-weight: 600;
                    letter-spacing: .44px;
                    margin:1rem 2.6rem 1.8rem;

                }
                ul {
                    border-top: 0.5px solid #DEDCD8;
                    padding-top: 1.8rem;
                    li {
                        margin:0 3.8rem;
                        list-style: initial;
                        color: #505154;
                        font-size: .9rem;
                        line-height: 1.3rem;
                        letter-spacing: .7px;
                    }
                }
                form {
                    .checkboxes {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 2rem;
                        gap:1rem;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        input[type=checkbox] {
                            display: none;
                        }
                        label {
                            outline: none;
                            font-size: .95rem;
                            display: inline-block;
                            cursor: pointer;
                            position: relative;
                            line-height: 1.3rem;
                            letter-spacing: .7px;
                            user-select: none;
                            margin-top: 2rem;
                            &::before {
                                content: "";
                                outline: none;
                                display: inline-block;
                                width: .5rem;
                                height: .5rem;
                                position: absolute;
                                top:-1.5rem;
                                left: 1.2rem;
                                background-color: white;
                                border-radius: 50%;
                                border: 2px solid white;
                                outline: 1px solid #939393;
                                padding: 0.2rem;
                                transition: .2s ease-in;
                            }
                        }
                        input[type=checkbox]:checked+label::before {
                            background-color: black;

                        }
                        input[type=checkbox]:hover+label::before {
                            background-color: rgba(0,0,0, .2);

                        }
                    }
                    .buttons {
                        width: 100%;
                        padding: 0 2.6rem;
                        margin-top: 4rem;
                        div {
                            display: flex;
                            gap: .5rem;

                        }
                        .favorites {
                            border-radius: 3px;
                            background-color: #303133;
                            padding: .9rem 1.2rem;
                            outline: none;
                            border:none;
                            cursor: pointer;
                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        .primary-btn {
                            width: 100%;
                            margin-top: .5rem;

                        }
                    }
                }
            }
            &__delivery {
                background-color: white;
                border-radius: 8px;
                padding: 2rem 2.6rem;
                margin-top: 1rem;
                p {
                    margin-bottom: .2rem;
                    font-size: .9rem;
                    letter-spacing: .7px;
                    b {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
