section#item {
    .content {
        margin: 0 10.5rem;
        display: flex;
        margin-top: 2rem;
        .thumbnails {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: flex-start;
        }
        .large-img {
            width: 100%;
            display: flex;
            background-image: url("/i/item/item-large.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            img {
            }
        }
        .offer {
            &__description {
                background-color: white;
                border-radius: 8px;
                min-width: 27rem;
                padding: 1.6rem 0;
                .event {
                    font-weight: 600;
                    color: white;
                    text-transform: uppercase;
                    font-size: .75rem;
                    letter-spacing: .44px;
                    background-color: #2F80ED;
                    border-radius: 16px;
                    max-width: fit-content;
                    padding: .5rem .8rem;
                    margin: 0 2.6rem 2.1rem;
                }
                .name {
                    font-size: 1.6rem;
                    letter-spacing: .25px;
                    font-weight: 300;
                    margin:0 2.6rem;
                }
                .price {
                    font-size: .85rem;
                    font-weight: 600;
                    letter-spacing: .44px;
                    margin:1rem 2.6rem 1.3rem;

                }
                ul {
                    border-top: 0.5px solid #DEDCD8;
                    padding-top: 1.8rem;
                    li {
                        margin:0 3.8rem;
                        list-style: initial;
                        color: #505154;
                        font-size: .9rem;
                        line-height: 1.3rem;
                        letter-spacing: .7px;
                    }
                }
                form {
                    .checkboxes {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 2rem;
                        gap:1rem;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        input[type=checkbox] {
                            display: none;
                        }
                        label {
                            outline: none;
                            font-size: .95rem;
                            display: inline-block;
                            cursor: pointer;
                            position: relative;
                            line-height: 1.3rem;
                            letter-spacing: .7px;
                            user-select: none;
                            margin-top: 2rem;
                            &::before {
                                content: "";
                                outline: none;
                                display: inline-block;
                                width: .5rem;
                                height: .5rem;
                                position: absolute;
                                top:-1.5rem;
                                left: 1.2rem;
                                background-color: white;
                                border-radius: 50%;
                                border: 2px solid white;
                                outline: 1px solid #939393;
                                padding: 0.2rem;
                                transition: .2s ease-in;
                            }
                        }
                        input[type=checkbox]:checked+label::before {
                            background-color: black;

                        }
                        input[type=checkbox]:hover+label::before {
                            background-color: rgba(0,0,0, .2);

                        }
                    }
                    .buttons {
                        width: 100%;
                        padding: 0 2.6rem;
                        margin-top: 4rem;
                        div {
                            display: flex;
                            gap: .5rem;

                        }
                        .favorites {
                            border-radius: 3px;
                            background-color: #303133;
                            padding: .9rem 1.2rem;
                            outline: none;
                            border:none;
                            cursor: pointer;
                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        .primary-btn {
                            width: 100%;
                            margin-top: .5rem;

                        }
                    }
                }
            }
            &__delivery {
                background-color: white;
                border-radius: 8px;
                padding: 2rem 2.6rem;
                margin-top: 1rem;
                p {
                    margin-bottom: .2rem;
                    font-size: .9rem;
                    letter-spacing: .7px;
                    b {
                        font-weight: 500;
                    }
                }
            }
            .serial-number {
                font-size: .95rem;
                color: #939393;
                letter-spacing: .44px;
                text-align: right;
                margin-top: 1.25rem;
                margin-bottom: 2.25rem;
            }
        }
    }
    .info {
        margin: 0 10.5rem;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid black;
        padding-top: 2.1rem;
        color: #505154;
        margin-bottom: 6rem;
        .description {
            max-width: 32rem;
            font-size: .95rem;
            letter-spacing: .7px;
            line-height: 1.3rem;
        }
        .size {
            p {
                font-size: .95rem;
                letter-spacing: .7px;
                &:first-child {
                    font-weight: 500;
                    margin-bottom: 1.5rem;
                    svg {
                        width: .62rem;
                        height: .62rem;
                        margin-bottom: .04rem;
                        margin-right: .35rem;
                    }
                }
            }
        }
        .material {
            font-size: .95rem;
            letter-spacing: .7px;
            p {
                font-weight: 500;
                margin-bottom: 1.5rem;
                svg {
                    width: .75rem;
                    height: .75rem;
                    margin-right: .2rem;
                }
            }
            ul {
                padding-left: 1.3rem;
                li {
                    list-style: initial;
                    line-height: 1.3rem;
                }
            }
        }
        .existence {
            width: 20%;
            .questions {
                padding-bottom: 0.5rem;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #DEDCD8;
                transition: .2s ease-in;
                p {
                    padding-bottom: .3rem;
                    transition: .2s ease-in-out;
                    display: flex;
                    align-items: center;
                    gap:.6rem;
                    font-size: .95rem;
                    letter-spacing: .7px;
                    font-weight: 500;
                    svg {
                        width: .72rem;
                        height: .89rem;
                    }
                }
                svg {
                    width: 1rem;
                    height: 1rem;
                    margin-bottom: .3rem;

                }
                &:hover {
                    border-bottom: 1px solid black;
                    padding-bottom: 0.5rem;
                }
            }
            .answers {
                max-height: 0;
                overflow: hidden;
                ul {
                    padding-top: 1rem;
                    li {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #DEDCD8;
                        padding-bottom: .4rem;
                        font-size: .95rem;
                        color: #505154;
                        letter-spacing: .44px;
                        margin-bottom: 1rem;
                        span {
                            color: #939393;
                        }
                    }
                }
            }
        }
        .existence.active {
            .questions {
                border-bottom: none;
            }
            .answers {
                max-height: 20rem;
                border-bottom: 1px solid black;
                padding-bottom: .5rem;
                animation: fade 0.5s ease-in-out;
            }
        }
    }
    .similar {
        padding: 10.5rem 0;
        background: linear-gradient(180deg, rgba(211, 208, 196, 0.1) 0%, rgba(245, 244, 241, 0.1) 100%), #F5F4F1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        svg {
            width: 0.97rem;
            height: 1.7rem;
        }
        .similar-prev-btn {
            position: absolute;
            left:10rem;
            top: 50%;
        }
        .similar-next-btn {
            position: absolute;
            right: 10rem;
            top: 50%;
            transform: rotate(180deg);
        }
        h3 {
            font-size: 1.3rem;
            color: #303133;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 4rem;
        }
        .swiper-item {
            max-width: 80rem;
            overflow: hidden;
        }
        .single {
            .single-image {
                background-color: white;
                max-width: 19rem;
                height: 29rem;
                border-radius: 8px;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                }
            }
            p {
                margin: 1.5rem 0 1rem;
                font-size: 1rem;
                color: #303133;
                font-weight: 500;
            }
            .single-breadcrumbs {
                font-size: .95rem;
                color: #505154;
                letter-spacing: .7px;
                a {
                    &:first-child {
                        &::before {
                            content: "";
                            margin-right: 0;
                        }
                    }
                    &::before {
                        content: "•";
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    .consultaion {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 8.5rem 0;

        .call {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 21rem;

            h1 {
                font-size: 1.3rem;
                text-transform: uppercase;
                margin: 0;
            }

            p {
                font-size: .9rem;
                color: #505154;
                margin-top: 1rem;
                width: 30rem;
                letter-spacing: .7px;
                line-height: 1.3rem;
                text-align: center;

                a {
                    background-color: rgba(193, 146, 69, 0.1);
                    padding: .2rem;
                }
            }

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 1.5rem;
                width: 100%;

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #303133;
                    text-align: center;
                    padding: 1rem;
                    outline: none;
                    width: 85%;

                }

                .main-btn {
                    margin-top: 2rem;
                    width: 100%;
                    font-weight: 500;
                }
            }
        }
    }
    .faq {
        margin: 7rem 10.5rem;
        &:last-child {
            border-bottom: 1px solid #505154;
            margin-bottom: 7rem;
        }
        .questions {
            border-top: 1px solid #505154;
            padding: 2.2rem 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                border-bottom: 1px solid transparent;
                padding-bottom: .3rem;
                transition: .2s ease-in-out;
                display: inline-block;
                text-transform: uppercase;
            }
            svg {
                width: 4rem;
                height: 2rem;
                >path {
                    transition: .2s ease-in;
                }

            }
            &:hover {
                p {
                    border-bottom: 1px solid black;
                    padding-bottom: 0.3rem;
                }
                svg>path {
                    stroke: #505154;
                }
            }
        }
    }
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}
