section#news {
  .hero {
    display: flex;
    margin: 0 10.5rem;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 5.5rem;
    .title {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 8px;
      text-align: center;
      p {
        font-weight: 300;
        font-size: 1.6rem;
        &:first-child {
          flex: 1;
          display: flex;
          align-items: center;
        }
        &:last-child {
          font-size: 1.25rem;
          display: flex;
          gap: 1rem;
          margin-bottom: 4.5rem;
          align-items: center;
          svg {
            width: .6rem;
            height: .9rem;
            margin-top: 0.2rem;
          }
        }
      }
    }
    img {
      width: 100%;
      max-height: 30rem;
    }
  }
  .mobile-title {
    display: none;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 8.7rem;
    gap: 4.5rem 0rem;
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      border-radius: 8px;
      padding: 1.7rem 1.7rem 3.3rem;
      transition: .2s ease-in;
      &:hover {
        background-color: white;
      }
      img {
        width: 100%;
      }
      .title {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 2rem;
      }
      .info {
        color: #505154;
        font-size: .9rem;
        margin: 2rem 0;
      }
      .action {
        color: #505154;
        font-size: 1.3rem;
        position: relative;
          display: flex;
          gap: 1rem;
          align-items: center;
        svg {
            width: .6rem;
            height: .95rem;
        }
        &:after {
          content: "";
        }
      }
    }
  }
  .route {
    display: flex;
    margin: 8rem 10.5rem;
    justify-content: space-between;
    align-items: center;
    .toStart {
      margin-bottom: 1.2rem;
      font-size: .73rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
        svg {
          width: .75rem;
          height: .45rem;
          margin-right: .5rem;
          transition: .2s ease-in;
          >path {
              transition: .2s ease-in;
          }
        }
        &:hover {
          svg {
            transition: .2s ease-in;
            >path {
              fill: black;
            }
          }
        }
    }
      .secondary-btn {
        color: #505154;
        transition: .2s ease-in;
        &:hover {
          color: black;
        }
      }
    .pagination {
      display: flex;
      align-items: center;
      gap: 2rem;
        a {
          font-size: .9rem;
          color: #939393;
          padding-bottom: .3rem;
          transition: .2s ease-in;
          &:hover {
            color: black;
          }
          svg {
            width: 2rem;
            height: 1rem;
          }
        }
        .active {
          border-bottom: 1px solid black;
          padding-bottom: .3rem;
          color: black;
        }
    }
  }
  @include responsive {
    .hero, .route {
      display: none;
    }
    .mobile-title {
      display: block;
      font-size: 1.89rem;
      font-family: 'Spectral';
      padding: 3rem 2rem;
      font-style: italic;
      color: #303133;

    }
    .cards {
      margin:0;
      grid-template-columns: 1fr;
      gap: 3rem 0;
      .card {
        padding:0;
        border-radius: 0;
        .title {
          margin-left: 2rem;
        }
        .info {
          margin:0;
          padding:2rem;
          font-size: 1.2rem;
        }
        .action {
          margin-left: 2rem;
          display: none;
        }
      }
    }
    .consultaion_block {
      margin-top: 3rem;
      .call {
        width: 100%;
        max-width: initial;
        padding: 0 2rem;
        h1 {
          font-size: 1.5rem;
        }
        form {
          input {
            width: 65%;
          }
        }
        p {
          display: none;
        }
      }
    }
  }
}
