section#ordering {
    margin: 3rem 0;
    h3 {
        font-size: 1.6rem;
        color: #505154;
        font-weight: 300;
        margin:0 10.5rem 2.4rem;

    }
    .title {
        font-size: 1.2rem;
        color: #505154;
        font-weight: 300;
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
        svg {
            width: 1rem;
            height: .95rem;
        }
    }
    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4rem;
        margin:0 10.5rem 8rem;
        input[type=radio] {
            display: none;
        }
        label {
            outline: none;
            display: inline-block;
            cursor: pointer;
            position: relative;
            line-height: 1.3rem;
            letter-spacing: .7px;
            user-select: none;
            padding: 1rem 1.5rem 1rem 2rem;
            font-size: .85rem;
            font-weight: 400;
            color: #505154;
            text-transform: initial;
            span {
                font-weight: 600;
            }
            &::before {
                content: "";
                outline: none;
                display: inline-block;
                width: .2rem;
                height: .2rem;
                position: absolute;
                left: 0rem;
                top: 1.25rem;
                background-color: white;
                border-radius: 50%;
                border: 2px solid white;
                outline: 1px solid #939393;
                padding: 0.2rem;
                transition: .2s ease-in;
            }
        }
        input[type=radio]+label::before {
            background-color: #D7D9E0;
        }
        input[type=radio]:checked+label::before {
            background-color: #27AE60;

        }
        input[type=radio]:hover+label::before {
            background-color: rgba(0,0,0, .2);

        }
        .left_side {
            flex: 1;
            fieldset {
                border: 1px solid #DEDCD8;
                max-width: 20rem;
                background: white;
                border-radius: 8px;
                padding: .1rem;
                position: relative;
                legend {
                    padding-left: .5rem;
                    padding-right: .5rem;
                    margin-left: 1rem;
                    font-size: .9rem;
                    letter-spacing: .7px;
                    color: #505150;
                    position: absolute;
                    top: -.55rem;
                    background-color: white;
                    opacity: 0;
                    transition: opacity .2s ease-in;
                }
                input {
                    border:none;
                    padding: 1rem 1rem 1rem 1.5rem;
                    min-width: 18rem;
                    outline: none;
                    border-radius: 8px;
                    font-size: .9rem;
                    letter-spacing: .44px;
                }
            }
            .email {
                background-color: white;
                border-radius: 8px;
                padding: 3rem 3rem 2.8rem;
                margin-bottom: 1rem;
                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .description {
                        font-size: .95rem;
                        letter-spacing: 1px;
                        color: #505154;
                        span {
                            font-weight: 600;
                            color: #303133;
                        }
                    }
                    .link-btn {
                        text-transform: initial;
                        color: #939393  ;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            .profile-info {
                border-radius: 8px;
                background-color: white;
                margin-bottom: 1rem;
                display: flex;

                .title {
                    padding: 3rem 3rem 1rem;
                }
                .form {
                    display: flex;
                    .user {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 0 3.2rem 3.2rem;
                        gap: 2.5rem;
                    }
                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 3rem;
                        .main-btn {
                            max-width: 10rem;
                        }
                        a {
                            font-size: .9rem;
                            letter-spacing: 1px;
                            font-weight: 500;
                            border-bottom: 1px solid #D7D9E0;
                            padding-bottom: .5rem;
                            transition: .2s ease-in;
                            &:hover {
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }
                .another {
                    background-color: #F5F4F1;
                    flex: 1;
                    border-radius: 8px;
                    margin: .5rem;
                    position: relative;
                    opacity: 1;
                    transition: .3s ease-in-out;
                    display: none;
                    &.hidden {
                        opacity: 0;
                    }

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                        position: absolute;
                        top:1.5rem;
                        right: 1.5rem;
                        cursor: pointer;
                        transition: .2s ease-in;
                        border-radius: 100%;
                        &:hover {
                            background-color: white;
                        }
                    }
                    .title {
                        padding: 3rem 3rem 0;
                    }
                    fieldset {
                        margin: 1.9rem 3rem;
                        legend {
                            background-color: #F5F4F1;
                            top: -0.8rem
                        }
                    }
                    .last {
                        margin-top: 2.4rem;
                    }

                }
                button {
                    width: 100%;
                    justify-content: space-between;
                    padding: 0 2rem;
                    margin:2rem 3rem 3rem 1rem;
                    background-color: #F5F4F1;
                    color: #505154;
                    text-transform: initial;
                    height: 4rem;
                    border-radius: 8px;
                    align-self: flex-end;
                    position: relative;
                    white-space: nowrap;
                    gap: 1rem;
                    display: flex;
                    opacity: 1;
                    transition: .3s ease-in-out;

                    &.hidden {
                        opacity: 0;
                    }
                    &:hover {
                        color: black;
                        span {
                            background-color: black;
                        }
                    }

                    span {
                        position: relative;
                        //right: 1rem;
                        background-color: #DEDCD8;
                        border-radius: 50%;
                        width: 1.45rem;
                        height: 1.45rem;
                        overflow: hidden;
                        transition: .2s ease-in;
                        svg {
                            width: 1.37rem;
                            height: .61rem;
                            position: absolute;
                            top: .45rem;
                            left: -.5rem;
                        }
                    }
                }
            }
            .delivery {
                background-color: white;
                padding: 0 0 4.5rem;
                border-radius: 8px;
                .title {
                    padding: 2rem 3rem 1rem;
                }
                .blocks {
                    display: flex;

                    div {
                        border-right: 1px solid #DEDCD8;
                        padding: 1rem 3rem .5rem;
                        &:last-child {
                            border-right: none;
                        }
                        .info {
                            font-size: .95rem;
                            letter-spacing: .7px;
                            color: #505154;
                            line-height: 1.45rem;
                        }
                    }
                }
            }
            .pickup {
                background-color: white;
                margin-top: .4rem;
                border-radius: 0 0 8px 8px;
                display: none;
                flex-direction: column;
                padding: 3rem 3rem 1rem;
                animation: opacity .3s linear;
                div {
                    margin-bottom: 1.5rem;
                    .name {
                        font-size: .9rem;
                        letter-spacing: .7px;
                        color: #303133;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: .8rem;
                        margin-top: 2.5rem;
                        svg {
                            width: 0.75rem;
                            height: 1rem;
                        }
                    }
                    .info {
                        font-size: .95rem;
                        color: #505154;
                        letter-spacing: .44px;
                        padding-left: 1.8rem;
                    }
                }
                .link-btn {
                    text-transform: initial;
                    margin: 2.2rem auto;
                }
            }
            .order_adress {
                background-color: white;
                border-radius: 8px;
                margin-top: 1rem;
                .title {
                    padding: 2rem 3rem 1rem;
                    margin-bottom: 0;
                }
                .profile-address {
                    border-radius: 8px;
                    background-color: white;
                    padding: 3rem;
                    h3 {
                        font-family: "Spectral";
                        font-style: italic;
                        font-size: 1.6rem;
                        margin-bottom: 4rem;
                    }
                    .address {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        align-items: stretch;
                        gap: 1rem;
                        div {
                            padding: 2.1rem;
                            border: 1px solid #DEDCD8;
                            transition: .2s ease-in;
                            border-radius: 8px;
                            max-width: 20rem;
                            min-height: 10rem;
                            .place {
                                font-weight: 600;
                                font-size: .85rem;
                                letter-spacing: .7px;
                                margin-bottom: 1rem;
                                padding-left: 1.5rem;
                                position: relative;
                                &::before {
                                    content: "";
                                    background-image: url('/i/icons/location_icon.png');
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    background-size: contain;
                                    width: .55rem;
                                    height: .74rem;
                                    position: absolute;
                                    left: 0;
                                }
                            }
                            .location {
                                font-size: .85rem;
                                letter-spacing: .7px;
                                line-height: 1.4rem;
                            }
                            cursor: pointer;
                            &:hover {
                                border: 1px solid black;
                            }
                        }
                        .add {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #F5F4F1;
                            border:none;
                            max-width: 20rem;
                            min-height: 10rem;
                            transition: .2s ease-in;
                            &:hover {
                                background: rgba(245, 244, 241, 0.5);
                                border: none;
                                .new-address {
                                    color: #303133;
                                    svg {
                                        >path {
                                            stroke: black;
                                        }
                                    }
                                }
                            }
                            .new-address {
                                margin-bottom: 0;
                                font-weight: 600;
                                font-size: .85rem;
                                letter-spacing: .44px;
                                color: #505154;
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                svg {
                                    width: 1.3rem;
                                    height: 1.3rem;
                                    >path {
                                        transition: .2s ease-in;
                                    }
                                }

                            }
                        }
                    }
                }
            }
            .payment_title {
                font-size: 1.2rem;
                color: #505154;
                font-weight: 300;
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 4rem 0 3rem;
                svg {
                    width: 1rem;
                    height: .95rem;
                }
            }
            .payment {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
                align-items: stretch;
                &__method {
                    background-color: white;
                    border-radius: 8px;
                    padding: 1.8rem 2.8rem 2.8rem;
                    .cards {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-top: 1.5rem;
                        img {
                            max-width: 2.5rem;
                        }
                    }
                    .link-btn {
                        display: block;
                        max-width: fit-content;
                        text-transform: initial;
                        font-size: .95rem;
                        font-weight: 500;
                        letter-spacing: 1px;
                        padding-top: 3.5rem;
                    }
                    p {
                        font-size: .95rem;
                        letter-spacing: .7px;
                        color: #505154;
                        line-height: 1.5rem;
                        margin-top: 1rem;
                    }
                }
            }
            .requisites {
                margin-top: 1rem;
                background-color: white;
                border-radius: 8px;
                padding: 3rem;
                display: none;
                animation: opacity .3s ease-in;
                .title {
                }
                .grid {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 2rem;
                    padding: 1.5rem 0;
                }
            }
        }
        .right_side {
            background-color: white;
            border-radius: 8px;
            width: 34rem;
            .head {
                border-bottom: 5px solid #F5F4F1;
                padding: 2.5rem 0 2.5rem;
                width: 100%;
                .inside {
                    font-weight: 600;
                    font-size: .85rem;
                    letter-spacing: .7px;
                    display: block;
                    margin-bottom: .8rem;
                    padding: 0 2.5rem;
                    span {
                        color: #939393;
                        margin-left: .3rem;
                    }
                }
                .link-btn {
                    text-transform: initial;
                    margin-left: 2.5rem;
                }
            }
            .sum {
                width: 100%;
                padding: 2.5rem;

                span {
                    font-size: .95rem;
                    letter-spacing: .44px;
                    color: #939393;
                }

                p {
                    font-size: .85rem;
                    letter-spacing: .44px;
                    font-weight: 500;
                }
                &__title {
                    margin-bottom: 1.5rem;
                    font-size: .95rem;
                    letter-spacing: .7px;
                    font-weight: 700;
                    margin-top: 1rem;

                }
                div {
                    border-bottom: 1px solid #DEDCD8;
                    padding-bottom: .6rem;
                    display: flex;
                    justify-content: space-between;
                    align-self: center;
                    margin-bottom: 1.5rem;
                }

                button {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 2rem;
                    margin-top: 2rem;

                    span {
                        position: relative;
                        background-color: white;
                        border-radius: 50%;
                        width: 1.45rem;
                        height: 1.45rem;
                        overflow: hidden;

                        svg {
                            width: 1.37rem;
                            height: .61rem;
                            position: absolute;
                            top: .4rem;
                            left: -.5rem;
                        }
                    }
                }
                .total {
                    margin-bottom: 3rem;
                }
                .green {
                    color: #27AE60;
                    font-size: .95rem;
                    font-weight: 400;
                }
            }
        }
    }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
