section#profile {
  .switch {
      margin: 0 10.5rem;
      margin-bottom: 6rem;
      h1 {
          font-family: 'Spectral';
          font-size: 1.6rem;
          color: #939393;
          font-style: italic;
          margin-top: 4rem;
          margin-bottom: 2.5rem;
          span {
              font-family: 'Inter';
              font-style: normal;
              color:black;
              font-size: 1.3rem;
          }
      }
      .type {
          display: flex;
          gap: 1rem;
          margin-bottom: 3rem;
          .links {
              background-color: rgba(222, 220, 216, 0.3);;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 0.6rem;
              transition: .2s ease-in-out;
              li {
                  a {
                      padding: .8rem 2.3rem;
                      font-size: 0.85rem;
                      border-radius: 5px;
                      transition: .2s ease-in-out;
                      margin: 4px;
                      &:hover {
                          background-color: white;
                      }
                  }
                  .active {
                      background-color: white;
                  }
              }

          }
          .btn {
              border: 1px solid #DEDCD8;
              font-size: .8rem;
              letter-spacing: .7px;
              font-weight: 500;
              padding: 1.1rem;
              border-radius: 8px;
              background: transparent;
              transition: .2s ease-in;
              cursor: pointer;
              &:hover {
                  background-color: white;
                  border:1px solid transparent;
              }
          }
      }
      .hide {
          display: none;
      }


      .my-profile {
          display: none;
          gap: 1.4rem;
          animation: opacity .3s linear;
          .profile-info {
              border-radius: 8px;
              background-color: white;
              .form {
                  .user {
                      display: grid;
                      grid-template-columns: 1fr 1fr;
                      padding: 3.2rem;
                      gap: 2.5rem;
                  }
                  fieldset {
                      border: 1px solid #DEDCD8;
                      max-width: 20rem;
                      background: white;
                      border-radius: 8px;
                      legend {
                          padding-left: .5rem;
                          padding-right: .5rem;
                          margin-left: 1rem;
                          font-size: .9rem;
                          letter-spacing: .7px;
                          color: #505150;
                      }
                      input {
                          border:none;
                          padding: 1rem 1rem 1rem 1.5rem;
                          min-width: 18rem;
                          outline: none;
                          border-radius: 8px;
                          font-size: .9rem;
                          letter-spacing: .44px;
                      }
                  }
                  .buttons {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 3rem;
                      margin-right: .5rem;
                      .main-btn {
                          width: 10.7rem;
                      }
                  }
              }
          }
          .profile-address {
              border-radius: 8px;
              background-color: white;
              padding: 4rem;
              h3 {
                  font-family: "Spectral";
                  font-style: italic;
                  font-size: 1.6rem;
                  margin-bottom: 4rem;
              }
              .address {
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr;
                  align-items: stretch;
                  gap: 1rem;
                  div {
                      padding: 2.1rem;
                      border: 1px solid #DEDCD8;
                      transition: .2s ease-in;
                      border-radius: 8px;
                      max-width: 20rem;
                      min-height: 10rem;
                      .place {
                          font-weight: 600;
                          font-size: .85rem;
                          letter-spacing: .7px;
                          margin-bottom: 1rem;
                          padding-left: 1.5rem;
                          position: relative;
                          &::before {
                              content: "";
                              background-image: url('/i/icons/location_icon.png');
                              background-repeat: no-repeat;
                              background-position: center center;
                              background-size: contain;
                              width: .55rem;
                              height: .74rem;
                              position: absolute;
                              left: 0;
                          }
                      }
                      .location {
                          font-size: .85rem;
                          letter-spacing: .7px;
                          line-height: 1.4rem;
                      }
                      cursor: pointer;
                      &:hover {
                          border: 1px solid black;
                      }
                  }
                  .add {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      background-color: #F5F4F1;
                      border:none;
                      max-width: 20rem;
                      min-height: 10rem;
                      transition: .2s ease-in;
                      &:hover {
                          background: rgba(245, 244, 241, 0.5);
                          border: none;
                          .new-address {
                              color: #303133;
                              svg {
                                  >path {
                                      stroke: black;
                                  }
                              }
                          }
                      }
                      .new-address {
                          margin-bottom: 0;
                          font-weight: 600;
                          font-size: .85rem;
                          letter-spacing: .44px;
                          color: #505154;
                          display: flex;
                          align-items: center;
                          gap: 1rem;
                          svg {
                              width: 1.3rem;
                              height: 1.3rem;
                              >path {
                                  transition: .2s ease-in;
                              }
                          }

                      }
                  }
              }
          }
      }
      .my-profile.is-active {
          display: flex;
      }
      .orders {
          min-height: 23rem;
          background-color: white;
          display: none;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 1rem;
          border-radius: 8px;
          padding: 2rem 2.35rem;
          animation: opacity .3s linear;
          h3 {
              text-align: center;
              color: #939393;
              font-family: "Spectral";
              font-style: italic;
              font-size: 1.6rem;
          }
          a {
              padding-bottom: .3rem;
              border-bottom: 1px solid black;
              margin-top: 4.3rem;
              font-weight: 500;
              letter-spacing: 1px;
              font-size: .95rem;
          }
          .title {
              width: 100%;
              display: grid;
              grid-template-columns: 2fr 1.2fr 1.5fr 3fr 1fr;
              align-items: center;
              margin-bottom: 2rem;
              p {
                  font-size: .95rem;
                  color: #939393;
                  letter-spacing: .44px;
                  &:first-child {
                      color: black;
                  }
                  &:nth-child(2) {
                      text-align: center;
                  }
                  &:nth-child(3) {
                      text-align: center;
                  }
                  &:nth-child(4) {
                      margin-left: 5rem;
                  }
                  &:last-child {
                      text-align: center;
                  }
              }
          }
          .product {
              width: 100%;
              display: grid;
              grid-template-columns: 2fr 1.2fr 1.5fr 3fr 1fr;
              align-items: center;
              border-top: 1px solid #DEDCD8 ;
              padding: 2.5rem 0;

              &__date {
                  display: flex;
                  align-items: center;
                  gap: 3rem;
                  .mark {
                      font-size: .95rem;
                      color: #505154;
                      font-weight: 500;
                      margin-bottom: .5rem;
                  }
                  .date {
                      color: #939393;
                      font-size: .95rem;
                      letter-spacing: .44px;
                  }
                  img {
                      max-width: 5rem;
                  }
              }
              &__quantity {
                  p {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      color: #505154;
                      font-weight: 300;
                      font-size: 1.2rem;
                      gap:.5rem;
                      span {
                          font-size: .95rem;
                          font-weight: 400;
                      }
                  }
              }
              &__price {
                  p {
                      font-weight: 500;
                      letter-spacing: .44px;
                      color :#303133;
                      text-align: center;
                  }
              }
              &__place {
                  p {
                      font-size: .95rem;
                      color: #939393;
                      font-weight: 400;
                      margin-bottom: .6rem;
                      margin-left: 5rem;
                      span {
                          color: #303133;
                          font-weight: 500;

                      }
                  }
              }
              &__status {
                  display: flex;
                  align-self: center;
                  justify-content: center;
                  .in-process {
                      padding: .65rem 1rem .55rem;
                      text-transform: uppercase;
                      font-size: .8rem;
                      letter-spacing: .44px;
                      font-weight: 500;
                      border-radius: 999rem;
                      border: 1px solid black;
                  }
                  .delivered {
                      padding: .6rem 1rem .55rem;
                      text-transform: uppercase;
                      font-size: .8rem;
                      letter-spacing: .44px;
                      font-weight: 500;
                      color: #27AE60;
                      border: 1px solid #27AE60;
                      border-radius: 999rem;
                      svg {
                          width: .67rem;
                          height: .53rem;
                      }
                  }
              }
          }
      }
      .orders.is-active {
          display: flex;
      }
      .favorites {
          display: none;
          margin-top: 3rem;
          gap: 3.1rem;
          animation: opacity .3s linear;
          &__menu {
              align-self: flex-start;
              width: 100%;
              max-width: 17rem;
              background-color: white;
              padding: .3rem;
              border-radius: 8px;
              .title {
                  font-size: .95rem;
                  color: #939393;
                  letter-spacing: .44px;
                  padding: 1.75rem 1.35rem;
              }
              div {
                  background-color: #F5F4F1;
                  border-radius: 8px;
                  padding: 2.75rem 1.35rem 2rem;
                  p {
                      font-size: .95rem;
                      letter-spacing: .44px;
                      color: #939393;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                  }
                  ul {
                      margin-top: 1.5rem;
                      li {
                          font-size: .85rem;
                          letter-spacing: .44px;
                          color: #505154;
                          font-weight: 500;
                          line-height: 2.5rem;
                          span {
                              margin-left: .5rem;
                              color: #DEDCD8;
                              font-weight: 500;
                          }
                          a {
                              color: #303133;
                              border-bottom: 1px solid black;
                              max-width: fit-content;
                          }
                      }
                  }
              }
          }
          &__products {
              flex: 1;
              h3 {
                  font-size: 1.6rem;
                  font-family: "Spectral";
                  font-style: italic;
                  color: #303133;
                  margin-bottom: 4rem;
                  sup {
                      vertical-align: super;
                      font-size: .95rem;
                      font-style: normal;
                      letter-spacing: .44px;
                  }
              }
              .grid {
                  display: grid;
                  grid-template-columns: repeat(3,1fr);
                  gap: 1rem;
                  &__blocks {
                      background-color: white;
                      border-radius: 8px;
                      max-width: 33rem;
                      padding: 2rem;
                      .info {
                          .name {
                              display: flex;
                              justify-content: space-between;
                              font-size: 1.1rem;
                              letter-spacing: .44px;
                              font-weight: 500;
                              margin-bottom: 1rem;
                              svg {
                                  width: 1.15rem;
                                  height: 1.1rem;
                                  >path {
                                      transition: .2s ease-in;
                                  }
                                  &:hover {
                                      >path {
                                          fill: black;
                                      }
                                  }
                              }
                          }
                          .price {
                              font-size: 1rem;
                              letter-spacing: .44px;
                              font-weight: 500;
                          }
                      }
                      .grid-img {
                          width: 100%;
                          img {
                              width: 100%;
                              object-fit: none;
                          }
                      }
                      .buttons {
                          display: flex;
                          gap: 1rem;
                          .main-btn {
                              width: 60%;
                          }
                          .primary-btn {
                              width: 100%;
                          }
                      }
                  }
              }
          }
      }
      .favorites.is-active {
          display: flex;
      }
      .route {
          display: flex;
          margin: 6rem 0;
          justify-content: space-between;
          align-items: center;

          .toStart {
              margin-bottom: 1.2rem;
              font-size: .73rem;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: 2px;
              position: relative;
              svg {
                  width: .75rem;
                  height: .45rem;
                  margin-right: .5rem;
                  transition: .2s ease-in;
              }
              &:hover {
                  svg {
                      transition: .2s ease-in;
                      >path {
                          fill: black;
                      }
                  }
              }
          }
          .pagination {
              display: flex;
              align-items: center;
              gap: 2rem;
              a {
                  font-size: .9rem;
                  color: #939393;
                  padding-bottom: .3rem;
                  svg {
                      width: 2rem;
                      height: 1rem;
                  }
              }
              .active {
                  border-bottom: 1px solid black;
                  padding-bottom: .3rem;
                  color: black;
              }
          }
      }
  }
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}
