section#vacancies  {
  .main-img {
    background-image: url('/i/vacancies_img.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 22rem;
    padding: 0 2.2rem;
    border:none;
  }
}