header.header {
    margin: 10px 0;
    background-color: transparent;
    .wrapper {
        padding: 0 2.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .links {
            display: flex;
            align-items: center;
            gap: 2rem;

            .nav {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 0.6rem;
                transition: .2s ease-in-out;
                li {
                    padding: .8rem 2rem;
                    margin: 5px;
                    border-radius: 8px;
                    font-size: 0.85rem;
                    transition: .2s ease-in-out;
                    &:hover {
                        background-color: #F5F4F1;
                    }
                }
            }
            input {
                border-radius: 9.8rem;
                outline: none;
                border: 1px solid #DEDCD8;
                background-color: inherit;
                padding: 1rem 1rem 1rem 2.5rem;
                width: 20rem;
                transition: .2s ease-in-out;
                position: relative;
                &::before {
                    content: '';
                    background-color: red;
                    top:0;
                    left: 0;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                }
                &::placeholder {
                    font-size: 0.9rem;
                    color: #939393;
                }
                &:hover {
                    background-color: white;
                }
                &:focus {
                    background-color: white;
                }
            }
        }
        .info {
            display: flex;
            align-items: center;
            gap: 1rem;
            .phone {
                font-size: 0.9rem;
                font-weight: 700;
                position: relative;
                color: #939393;
                cursor: pointer;
                border-right: 1px solid #DEDCD8;
                margin-right: 2rem;
                padding-right: 2rem;
                transition: .2s ease-in-out;
                &:hover {
                    color: black;
                }
            }
            .profile {
                display: flex;
                align-items: center;
                gap: 0.2rem;
                text-transform: uppercase;
                li {
                    font-size: 0.85rem;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    transition: .2s ease-in-out;
                    cursor:pointer;
                    font-weight: 600;
                    a {
                        color: #939393;
                    }
                    svg>path {
                        transition: .2s ease-in-out;
                    }
                    &:hover {
                        a {
                            color: black;
                        }
                        background-color: white;
                        svg>path {
                            fill: black;
                        }

                    }
                }
            }
        }
    }
}
