@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap);
/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/*vendor*/
/*vendor*/
/*helpers*/
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  font-size: 1.56vmin;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.1px;
}

html {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
  background-color: #F5F4F1;
}

li {
  list-style: none;
}

@media only screen and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 8px;
  }
}
.container {
  margin: 0 auto;
  position: relative;
  width: 120rem;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 95vmin;
  }
}

/*helpers*/
/*blocks*/
section#hero {
  text-align: center;
}
section#hero h1 {
  font-size: 28px;
}
section#hero a {
  color: blue;
  text-decoration: underline;
}

header.header {
  margin: 10px 0;
}
header.header .wrapper {
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header .wrapper .links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header.header .wrapper .links .nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  transition: 0.2s ease-in-out;
}
header.header .wrapper .links .nav li {
  padding: 1rem 2.3rem;
  margin: 5px 0;
  margin-left: 5px;
  border-radius: 8px;
  font-size: 0.85rem;
  transition: 0.2s ease-in-out;
}
header.header .wrapper .links .nav li:hover {
  background-color: #F5F4F1;
}
header.header .wrapper .links input {
  background-image: url("/i/icons/search_icon.png");
  background-repeat: no-repeat;
  background-position: left 15px center;
  border-radius: 9.8rem;
  outline: none;
  border: 1px solid #DEDCD8;
  background-color: inherit;
  padding: 1rem 1rem 1rem 2.5rem;
  width: 20rem;
  transition: 0.2s ease-in-out;
}
header.header .wrapper .links input::-moz-placeholder {
  font-size: 0.9rem;
  color: #939393;
}
header.header .wrapper .links input:-ms-input-placeholder {
  font-size: 0.9rem;
  color: #939393;
}
header.header .wrapper .links input::placeholder {
  font-size: 0.9rem;
  color: #939393;
}
header.header .wrapper .links input:hover {
  background-color: white;
}
header.header .wrapper .links input:focus {
  width: 33rem;
  background-color: white;
}
header.header .wrapper .info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header.header .wrapper .info .phone {
  font-size: 0.9rem;
  font-weight: 700;
  position: relative;
  color: #939393;
  cursor: pointer;
  border-right: 1px solid #DEDCD8;
  margin-right: 2rem;
  padding-right: 2rem;
  transition: 0.2s ease-in-out;
}
header.header .wrapper .info .phone:hover {
  color: black;
}
header.header .wrapper .info .profile {
  display: flex;
  align-items: center;
  gap: 2.1rem;
  text-transform: uppercase;
}
header.header .wrapper .info .profile li {
  font-size: 0.85rem;
}

footer.footer {
  border-top: 1px solid #E0E0E0;
}
footer.footer .wrapper {
  padding: 0 3.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
footer.footer .wrapper .nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.1rem;
  font-size: 0.9rem;
}
footer.footer .wrapper .links {
  border-right: 1px solid #E0E0E0;
  padding: 5.2rem 4.8rem 4rem 0;
}
footer.footer .wrapper .links img {
  max-width: 4.2rem;
  margin-bottom: 1.4rem;
}
footer.footer .wrapper .offer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1;
  padding: 5.2rem 0rem 4rem 0;
}
footer.footer .wrapper .offer .info p {
  font-weight: 500;
  color: #939393;
  font-size: 0.85rem;
  margin-bottom: 1.4rem;
}
footer.footer .wrapper .subscribe {
  border-left: 1px solid #E0E0E0;
  padding: 5.2rem 0 4rem 4.8rem;
  width: 26rem;
}
footer.footer .wrapper .subscribe p {
  font-size: 1.2rem;
  color: #303133;
  font-weight: 500;
}
footer.footer .wrapper .subscribe input {
  background-image: url("/i/icons/subscribe_icon.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #DEDCD8;
  padding: 1rem 0;
  width: 100%;
}
footer.footer .wrapper .subscribe .media {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  gap: 3rem;
}
footer.footer .wrapper .subscribe .media li:nth-child(1) {
  margin-bottom: 1rem;
}
footer.footer .wrapper .subscribe .media li:nth-child(2) {
  margin-top: 1rem;
}
footer.footer .wrapper .subscribe .media li:nth-child(3) {
  margin-bottom: 1rem;
}
footer.footer .wrapper .subscribe .media li:nth-child(4) {
  margin-top: 1rem;
}
footer.footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DEDCD8;
  padding: 15px 3.2rem;
}
footer.footer .copyright ul {
  display: flex;
  gap: 4.15rem;
}
footer.footer .copyright .info {
  border: 1px solid #DEDCD8;
  border-radius: 0.5rem;
  padding: 1rem 1.3rem;
  font-size: 0.9rem;
  transition: 0.2s ease-in-out;
}
footer.footer .copyright .info:hover {
  border: 1px solid black;
}
footer.footer .copyright .info:first-child {
  background-image: url("/i/icons/map_icon.png");
  background-repeat: no-repeat;
  background-position: left 5% center;
  padding-left: 2rem;
}
footer.footer .copyright .contact {
  border-bottom: 1px solid #DEDCD8;
  padding: 1rem;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
footer.footer .copyright .contact:hover {
  border-bottom: 1px solid black;
}
footer.footer .copyright p {
  font-size: 0.9rem;
  color: #939393;
}

/*blocks*/
/*modals*/
/*modals*/
