html, body{
    font-size: $font-size;
    font-family: 'Inter', sans-serif;
    letter-spacing: -.1px;
}
html {
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    width: 100%;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body {
    width: 100vw;
    max-width:100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    background-color: #F5F4F1;
    //overflow-x: hidden;
}
li {
list-style: none;
}

.main-btn {
    text-transform: uppercase;
    background-color: #212123;
    font-size: 0.95rem;
    width: 18.7rem;
    height: 3.3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}
.primary-btn {
    text-transform: uppercase;
    background-color: #F5F4F1;
    font-size: 0.95rem;
    width: 18.7rem;
    height: 3.3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
}

@media only screen and (max-width: 1599px) {
    html{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1366px) {
    html{
        font-size: 11px;
    }
    body{
        //overflow-x: scroll;
    }
}
@mixin responsive {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin notMobile {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}
.container {
    margin: 0 auto;
    position: relative;
    width: 120rem;
    @include responsive{
        width: 95vmin;
    }
}
