.remodal[data-remodal-id=login] {
    background-color: #F5F4F1;
    h3 {
        font-size: 1.35rem;
        text-align: center;
        margin-bottom: 4rem;
    }
    form {
        fieldset {
            border: 1px solid #505154;
            border-style: solid;
            max-width: 20rem;
            background: white;
            border-radius: 8px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            background-color: transparent;
            legend {
                padding-left: .5rem;
                padding-right: .5rem;
                margin-left: 1rem;
                font-size: .9rem;
                letter-spacing: .7px;
                color: #505150;
                text-align: left;
            }
            input {
                border:none;
                padding:1rem;
                min-width: 18rem;
                outline: none;
                border-radius: 8px;
                padding-left: 1.5rem;
                font-size: .9rem;
                letter-spacing: .44px;
                background-color: transparent;
            }
            button {
                background-color: #303133;
                padding: 1.5rem 1rem;
                margin-right: .3rem;
                margin-bottom: .3rem;
                margin-top: -.1rem;
                border-radius: 6px;
                outline: none;
                border:none;
                display: flex;
                align-items: center;
                svg {
                    width: 1.4rem;
                    height: .6rem;
                }
            }
        }
    }
}
