.remodal[data-remodal-id=profile-order-mobile] {
  padding: 4.5rem 0 !important;
  .container-custom {
    padding:0 2rem;
  }
  .order-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 1.5rem;
      color: #303133;
      font-weight: 300;
    }
    .process-success {
      text-transform: uppercase;
      font-size: 1rem;
      padding: .5rem .8rem .35rem;
      display: flex;
      align-items: center;
      gap: .5rem;
      border: 1px solid #27AE60;
      border-radius: 999rem;
      color: #27AE60;
    }
  }
  .order-data {
    font-size: 1.1rem;
    color: #939393;
    text-align: left;
    margin-top: 1rem;
  }
  .product {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid #939393;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .product-image {
      background-color: #F5F4F1;
      width: 10rem;
      height: 13.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      .name {
        font-size: 1.2rem;
        color: #303133;
        font-weight: 500;
        margin-bottom: 1rem;
      }
      .price {
        font-size: 1.1rem;
        color: #303133;
        font-weight: 500;
        margin-bottom: 2rem;
        letter-spacing: .44px;
      }
      .count {
        font-size: 1rem;
        font-weight: 500;
        color: #303133;
        letter-spacing: 1px;
        margin-bottom: 2rem;
      }
      .package {
        background-color: #f6f6f6;
        border-radius: 999rem;
        max-width: fit-content;
        font-size: 1rem;
        input[type=radio] {
          display: none;
        }
        label {
          outline: none;
          font-weight: 300;
          display: inline-block;
          cursor: pointer;
          position: relative;
          line-height: 1.3rem;
          letter-spacing: .7px;
          user-select: none;
          padding: 1rem 1.5rem 1rem 3rem;
          border-radius: 4px;
          transition: .2s ease-in;
          &::before {
            content: "";
            outline: none;
            display: inline-block;
            width: .3rem;
            height: .3rem;
            position: absolute;
            left: 1.2rem;
            top: 1.1rem;
            background-color: transparent;
            border-radius: 50%;
            border: 2px solid white;
            outline: 1px solid black;
            padding: 0.2rem;
            transition: .2s ease-in;
          }
        }
        input[type=radio]:checked+label{
          &::before {
            background-color: black;
          }
        }
      }
    }
  }
  .details {
    background-color: #F5F4F1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    margin-top: 4rem;
    .details-title {
      font-weight: 300;
      font-size: 1.5rem;
      color: #505154;
      margin-top: 3.5rem;
      margin-bottom: 2rem;
    }
    .title {
      font-size: 1.05rem;
      letter-spacing: .7px;
      font-weight: 600;
      margin-bottom: 1rem;
      text-align: left;
    }
    .desc {
      font-size: 1.05rem;
      letter-spacing: .7px;
      margin-bottom: .7rem;
      text-align: left;
    }
    .about, .delivery, .pay {
      margin-bottom: 2.6rem;
    }
  }
  .summary {
    padding: 4rem 2rem;
    p {
      font-size: 1.1rem;
      color: #303133;
      font-weight: 300;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #DEDCD8;
      padding: 2rem 0;
      &:last-child {
        border-bottom: 1px solid #DEDCD8;
      }
      span {
        font-size: 1.15rem;
        letter-spacing: .44px;
        font-weight: 700;
      }
      .green {
        color: #27AE60;
        font-weight: 500;
      }
    }
    .main-btn {
      max-height: initial;
      padding: 1.3rem 0 1.2rem;
      margin-top: 6rem;
      width: 100%;
    }
  }
}
